/*
 * Device Tree Source for the Ale6 board
 *
 * Copyright (C) 2015-2016 Renesas Electronics Corporation
 *
 * This file is licensed under the terms of the GNU General Public License
 * version 2.  This program is licensed "as is" without any warranty of any
 * kind, whether express or implied.
 */

/*
 * SSI-AK4643
 *
 * SW1: 1: AK4643
 *      2: CN22
 *      3: ADV7511
 *
  * This command is required when Playback/Capture
 *
 * # Note SRC0 is not supported on ale6 board
 *	amixer set "LINEOUT Mixer DACL" on
 *	amixer set "DVC Out" 100%
 *	amixer set "DVC In" 100%
 *
 * You can use Mute
 *
 *	amixer set "DVC Out Mute" on
 *	amixer set "DVC In Mute" on
 */

/dts-v1/;
#include "r8a7794x.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

/ {
	model = "Ale6";
	compatible = "renesas,ale6", "renesas,r8a77945";

	chosen {
		bootargs = "console=ttySC0,115200 ignore_loglevel rw root=/dev/nfs ip=dhcp";
	};

	memory@40000000 {
		device_type = "memory";
		reg = <0 0x40000000 0 0x40000000>;
	};

	lbsc {
		#address-cells = <1>;
		#size-cells = <1>;
	};
};

&extal_clk {
	clock-frequency = <20000000>;
};

&pfc {
	pinctrl-0 = <&scif0_pins>;
	pinctrl-names = "default";

	scif0_pins: serial0 {
		renesas,groups = "scif0_data_a";
		renesas,function = "scif0";
	};

	ether_pins: ether {
		renesas,groups = "eth_link", "eth_mdio", "eth_rmii";
		renesas,function = "eth";
	};

	qspi0_pins: spi0 {
		renesas,groups = "qspi0_ctrl", "qspi0_data4";
		renesas,function = "qspi0";
	};

	qspi1_pins: spi1 {
		renesas,groups = "qspi1_ctrl", "qspi1_data4";
		renesas,function = "qspi1";
	};
};

&ether {
	phy-handle = <&phy1>;
	renesas,ether-link-active-low;
	status = "ok";

	phy1: ethernet-phy@1 {
		reg = <1>;
		interrupt-parent = <&irqc0>;
		interrupts = <8 IRQ_TYPE_LEVEL_LOW>;
		micrel,led-mode = <1>;
	};
};

&qspi0 {
	pinctrl-0 = <&qspi0_pins>;
	pinctrl-names = "default";

	status = "okay";

	flash: flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "spansion,s25fl512s";
		reg = <0>;
		spi-max-frequency = <30000000>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
		m25p,fast-read;
		spi-cpol;
		spi-cpha;

		partition@0 {
			label = "loader";
			reg = <0x00000000 0x00080000>;
			read-only;
		};
		partition@40000 {
			label = "user";
			reg = <0x00080000 0x00580000>;
			read-only;
		};
		partition@440000 {
			label = "flash";
			reg = <0x00600000 0x03a00000>;
		};
	};
};

&qspi1 {
	pinctrl-0 = <&qspi1_pins>;
	pinctrl-names = "default";

	status = "okay";
};
